.gral-gold-title{
    font-family: 'Libre Bodoni', serif;
    width: 100%;
    font-size: 2.5rem;
    padding: 5px 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    background: $goldAnimation;
    animation: shine 3s infinite;
    background-size: 200%;
    background-position: left;
}
.crtolg-content-card {
    background-color: white;
    border: 2px solid $gold;
    border-radius: 10px;
    padding: 2rem;
}

.gral-icon-container {
    font-size: 1.5rem;
    padding: 1px;
    text-align: center;

    a {
        text-decoration: none;
        color: white;
        transition: all 300ms;
        padding-left: 10px;
    }

    a:hover {
        font-size: 1.75rem;
        color: $mColor;
    }
}

.gral-post-href{
    text-decoration: none !important;
}

.gral-post-container{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: $boxShadow_Black;
    margin-bottom: 1.5rem;
    color: black;
    max-height: 15rem;
    transition: all 450ms;

}

.gral-post-container:hover{
    border: 4px solid $gold;
    background-color: $mColorH;
    transform: scale(1.05); 

}

.gral-post-img-container{
    border-right: 1px solid black;
    overflow: hidden;
    padding: 0 !important;
    div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.gral-post-title{
    h4{
        border-bottom: 1px solid black;
        font-weight: bold;
        text-decoration: none !important;
    }
    p{
        text-decoration: none !important;
    }
}


.gral-noposts-container{
    width: 100%;
    background-color: $gold;
    padding: 5px;

    .gral-message{
        color:black!important;
        font-size: 3rem;
        text-shadow: $txtShadow_White;
    }
}