#main-navbar {
    background-color: $mBg;
    min-height: $navBarHeight;
    padding: 0px;

    i{
        font-size: 1rem;
        padding-right: 5px;
    }

    .nav-item {
        display: inline;
        height: $navBarHeight;
        padding: 5px 0px;
    }

    .nav-link {
        color: white;
        padding: 10px 30px !important;
        vertical-align: center;
    }

    .nav-item:hover {
        background: $mColorH;
        transition: all 300ms;
        transform: scaleX(1.15);

        .nav-link {
            color: black;
        }
    }

    .dropdown {
        padding: 5px 0px;
    }

    .dropdown:hover {
        background: $mColorH;

        .nav-link {
            color: black;
        }
    }

    .dropdown-item {
        color: white;
        vertical-align: center;
        min-height: 5px;
    }

    .dropdown-item:hover {
        background-color: $mColorH;
        color: black;
    }
}
