#page-main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: $minMainHeight;
    padding: 3rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#page-title{
    padding: 3rem 0;    

    h1 {
        text-shadow: $txtShadow_Black;
        color:white;
        text-align: center;
        font-size: 4rem;
        font-family: $fontFamily;
    }
}

#page-content{
    padding: 25px;
    text-align: justify;
}

.page-description{
    text-align: center;
    font-size: 1.5rem;
    border-top: 5px solid white;
    padding: 2rem 0;
    background-color: rgba(0,0,0,0.3);
    margin: 0 4rem;
}
