#post-banner {
    min-height: 80vh;
    color: white;
    background-color: #000000;

    .post-title{
        width: 100%;

        h1 {
            padding: 2rem 0;
            font-size: 5rem !important;
            text-align: center;
            text-shadow: $txtShadow_Black;            
        }
    }

    .post-banner_thumbnail{
        max-width: 90vw;
        max-height: 65vh; 
        object-fit:contain;
        border: 2px solid $gold;
        border-radius: 10px;
    }
    

    @media (max-width: 700px) {

        .post-title{
            h1 {
                font-size:3.5rem !important;
            }
        }        

        .post-banner_thumbnail{
            max-height: 80vh;
        }

    }
    @media (max-width: 400px) {

        .post-title{
            h1 {
                font-size:1rem !important;
            }
        }
        .post-banner_thumbnail{
            max-height: 100vh;
        }
    }
    
}