#front-banner {
    min-height: $minFrontBannerHeight;
    margin: 0 !important;
    width: auto;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    .main-logo {
        max-width: 18rem;
        opacity: 0.95;

    }
    .banner-btn {
        font-size: 1.25rem !important;
        font-weight: bolder;
        margin-top: 1.5rem;
        width: 100%;
        color: white;
    }
}



@media screen and (max-width: 1025px) {

    #front-banner {
        background-size: 100%;
        background-position: top;
        background-repeat: repeat;

    }

}

@media screen and (max-width: 769px) {

}