#single-page-container{
    padding: 5rem;
    text-align: center;

    .page-title-container{
        color:white;
        background-color: rgba(0,0,0,0.85); 
        margin-bottom: 5rem;
        h1{
            font-size: 4rem;
            font-weight: bold;
            text-shadow: $txtShadow_Black;   
            background-color: rgba(0,0,0,0.60);
        }
        p{
            font-size: 1.25rem;
            padding:10px 0;
        }

    }
}