$mColor: #0d6efd;
$mColorH: #0099d4;
$mColorBg : #0355cd;

$gralBorderColor: rgba(0,0,0,0.25);

$mBg: rgb(20, 20, 20);
$mBgH: rgb(33, 33, 33);
$mainBgColor: rgb(50, 50, 50);

$gold: #FFD700;

$navBarHeight: 60px;