@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700;900&family=Montserrat&display=swap');

$body-font: 'League Spartan', 'Montserrat', sans-serif;
$title-font: 'Montserrat', sans-serif, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';

body{
    font-family: $body-font;
}

header{
    min-height: 10vh;
}

main{
    min-height: $minMainHeight;
    background-color: black;
    background-image: $glamurousPattern;
}

footer{
    min-height: 10vh;
    background-color: $mBgH;
    background-image: $jupiterPattern;
}
