@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap');

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    min-height: 10vh;
}

main{
    min-height: $minMainHeight;
    background-color: black;
    background-image: $glamurousPattern;
}

footer{
    min-height: 10vh;
    background-color: $mBgH;
    background-image: $jupiterPattern;
}
